---
title: Home
description: The latest app to help you find new friends with common interests.
image: https://source.unsplash.com/j5LSbCqB1wA/2000x1322?a=.png
bottom_image: https://unsplash.it/2000/1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">
				George's Blog
			</h1>
			<p class="subtext editable">
				Mathematician lost in GIS. Also a violinist.
			</p>
			<!-- <div class="cta button alt"><a href="#">Join Now</a></div> -->
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">
					About Me
				</h2>
				<p class="editable">
					I am a PhD candidate of GIS of Peking University. I am most interested in ecological problems that was raised from urban science backgrounds. Before IRSGIS, I was a B.S. of mathematics in Peking University. I have a few dear friends who have always been supporting me and appreciating me as a scientist.
				</p>
			</div>
			<div class="image">
				<img class="editable" src="/images/MePhoto.JPG" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">
					Interests
				</h2>
				<p class="editable">
					Beyond science, I love music. I am a devoted violinist and once was the first chair in Violin II in PKUSO, and the conductor of SAPU@PKU.
				</p>
			</div>
			<div class="image">
				<img class="editable" src="/images/ViolinMe.JPG" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">
					Future plans
				</h2>
				<p class="editable">
					To graduate, to become a good scholar, to be happy.
				</p>
			</div>
			<div class="image">
				<img class="editable" alt="Screenshot" src="https://2.bp.blogspot.com/-ijepHjEMMfI/ToCPP2rm1mI/AAAAAAAAD6k/5lOAyqxegKY/s320/scholar.jpg" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">
					Research topics
				</h2>
				<p class="subtext editable">
					Urban ecology<br />Urban generation model<br />Urban climate and poverty<br />Secrets in traffic modeling<br />...
				</p>
				<!-- <div class="cta button alt"><a href="#">Join Now</a></div> -->
			</div>
		</div>
	</section>
</div>
